@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-arabic: "Noto Sans Arabic", sans-serif;
}

@layer base {
  [dir="rtl"] {
    text-align: right;
  }
}
